asn1crypto
axmlparserpy==0.0.4
certifi
comtypes; sys_platform == 'win32'
pycparser==2.17 # https://github.com/eliben/pycparser/issues/291
pycryptodomex
pyinstaller
pyusb
pywin32; sys_platform == 'win32'
pyyaml
tlslite-ng
