body {
 font-family: sans-serif;
 font-size: 14px;
 margin: 0;
 line-height: 1.5em;
}

h1 {
 font-size: 2em;
 margin: 1em 0 .5em;
}

h2 {
 font-size: 1.5em;
 margin: 1em 0 .5em;
}

p {
 margin: 0 0 1em;
}

a {
 color: #000;
}

label {
 display: block;
}

.wrapper {
 max-width: 600px;
 margin: 0 auto;
 padding: 15px;
}

.header {
 font-size: 3em;
 line-height: 1em;
 font-weight: bold;
}

.nav {
 margin: 10px -10px 20px;
 line-height: 2em;
 border: 1px #aaa;
 border-style: solid none solid;
}

.nav a {
 text-decoration: none;
 margin: 0 10px;
}

.github {
 position: absolute;
 top: 0;
 right: 0;
 width: 149px;
 height: 149px;
 background: url(https://aral.github.io/fork-me-on-github-retina-ribbons/right-graphite.png);
}

.box {
 background: #eee;
 padding: 10px;
 height: 200px;
 overflow: auto;
 font-family: monospace;
 font-size: .8em;
 line-height: 1.5em;
}

.apps li {
 margin-bottom: 1em;
}

.small, .small a {
 font-size: .8em;
 color: #aaa;
}
