{% extends "layout.html" %}
{% set title = 'Home' %}
{% block content %}
 <h1>Home</h1>
 <p>The latest Sony cameras include an Android subsystem used to run apps from the proprietary Sony PlayMemories Camera App Store (PMCA). We reverse engineered the installation process. This allows you to install custom Android apps on your camera.</p>
 <ul>
  <li><a href="{{ uri_for('apps') }}">Apps</a>: Install an app on your camera</li>
 </ul>

 <h1>Important Information</h1>
 <p>This browser-based installer is deprecated and not compatible with the newest camera firmware updates. It is recommended to use <a href="https://github.com/{{ projectRepo[0] }}/{{ projectRepo[1] }}/releases/latest">pmca-gui</a> instead.</p>

 <h1>Caution!</h1>
 <p>This is an experiment in a very early stage. All information has been found through reverse engineering. Even though everything worked fine for our developers, it could cause harm to your hardware. If you break your camera, you get to keep both pieces. <strong>We won't take any responsibility.</strong></p>
 <p>However, we're just interacting with the isolated Android subsystem. Apps you install this way can be uninstalled in the applications manager. In the worst case, a factory reset of the camera clears all data on the Android partitions.</p>
{% endblock %}
